env:
  env_name: LongOpenLockRandPointFlowEnv-v1

  max_action: [4.0, 2.0, 2.0]
  step_penalty: 1
  final_reward: 10
  max_steps: 100
  sensor_offset_x_range_len: 2.0
  sensor_offset_z_range_len: 2.0

  key_x_max_offset: 10
  key_y_max_offset: 0
  key_z_max_offset: 0
  normalize: False
  marker_random_noise: 0.1
  marker_lose_tracking_probability: 0

  marker_interval_range: [1.95, 2.15]
  marker_rotation_range: 0.1
  marker_translation_range: [1, 1]
  marker_pos_shift_range: [0.1, 0.1]

  params:
    # common parameters
    sim_time_step: 0.033
    tac_sensor_meta_file: "gelsight_mini_e430/meta_file"
    tac_elastic_modulus_l: [ 3.0e5, 1.0e6 ]  # note if 3e5 is correctly recognized as float
    tac_poisson_ratio_l: [ 0.3, 0.47 ]
    tac_elastic_modulus_r: [ 3.0e5, 1.0e6 ]
    tac_poisson_ratio_r: [ 0.3, 0.47 ]
    tac_friction: [ 0.5, 2.0 ]
    # task specific parameters
    key_lock_path_file: "configs/key_and_lock/key_lock.txt"
    indentation_depth: [ 0.5, 1.25 ]
    key_friction: [ 0.2, 1.0 ]
    lock_friction: [ 0.0, 1.0 ]
